* {
	margin: 0;
	padding: 0;
	//border: 1px solid black;
}
body {
	font-family: arial;
	background-color: #D34747
	
}

.wrapper {
	margin: 100px auto;
	max-width: 400px;
	padding: 20px;
	text-align: center;
	background-color: #FFA3A3;
	box-shadow: 1px 1px 50px -10px #8F0D0D;
	border-radius: 4px;
}
.buttons {
	margin-top: 40px;
	padding: 5px;
}
button {
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	background-color: none;
}

